<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miyoushe.mapper.MihoyoUserMapper">
  <resultMap id="BaseResultMap" type="com.miyoushe.model.MihoyoUser">
    <!--@mbg.generated-->
    <!--@Table mihoyo_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="suid" jdbcType="VARCHAR" property="suid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mobile, suid, create_time, update_time
  </sql>

</mapper>